.bannerAboutImage {
    width: 100%;
    height: calc(100vh - 75px);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../public/bgimages/about-banner.jpg");
    margin-top: 75px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    padding-left: 30px;
    padding-bottom: 30px;
}

.firstContainerInner {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 30px;
    padding-top: 15px;
    text-align: center;
}

.firstContainerInner p svg {
    margin-left: 8px;
    vertical-align: middle;
}

.slideAboutFirst {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../public/bgimages/bg-slider-aboutfirst.jpeg");
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideAboutFirst h2 {
    margin: 0px;
    text-align: center;
    color: white;
    font-size: 34px;
    letter-spacing: 0.6px;
}

.containerAboutfirst {
    width: 90%;
    max-width: 1400px;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
}

.containerAboutfirstInner {
    width: 23%;
    height: 440px;
    background-color: white;
    border-radius: 16px;
    text-align: center;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.containerAboutfirstInner video {
    width: 100px;
    height: 100px;
    border-radius: 6px;
    border: none;
    outline: none;
}

.containerAboutfirstInner p:nth-child(4) {
    font-size: 22px;
    color: gray;
    position: relative;
}

.containerAboutfirstInner p:nth-child(4)::before {
    position: absolute;
    width: 15px;
    height: 2px;
    background-color: gray;
    top: 50%;
    transform: translateY(-50%);
    content: " ";
    left: -25px;
}

.slideAboutSecond {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../public/bgimages/bg-slider-aboutfirst.jpeg");
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slideAboutSecond p {
    max-width: 80%;
    font-size: 26px;
    line-height: 1.8;
}

.slideAboutSecondFirst {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../public/bgimages/tree-about-sliderfirst.jpg");
}

.slideAboutSecondFirst .firstContainerInner {
    width: 100%;
}

.slideAboutSecondSecond {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../public/bgimages/sign-about-slidersecond.jpg");
}

.slideAboutSecondSecond .firstContainerInner {
    width: 100%;
}

.slideAboutSecondThird {
    display: flex;
    align-items: flex-end;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../public/bgimages/mountain-about-slidersecond.jpg");
    padding-left: 30px;
    padding-bottom: 30px;
}

@media only screen and (max-width: 1500px) {
    .slideAboutSecond p {
        font-size: 20px;
    }
}

@media only screen and (max-width: 767px) {
    .bannerAboutImage {
        padding-left: 0px;
        padding-bottom: 0px;
    }

    .slideAboutFirst {
        padding-top: 20px;
    }

    .containerAboutfirst {
        width: 90%;
        flex-wrap: wrap;
        margin-top: 20px;
        overflow: hidden;
        justify-content: center;
    }

    .containerAboutfirstInner {
        width: 80%;
        margin-bottom: 10px;
        height: 230px;
        padding: 8px;
    }

    .containerAboutfirstInner video {
        width: 50px;
        height: 50px;
    }

    .containerAboutfirstInner h3 {
        font-size: 11px;
    }

    .containerAboutfirstInner p {
        font-size: 9px;
        margin: 0px;
        margin-bottom: 8px;
    }

    .containerAboutfirstInner p:nth-child(4) {
        font-size: 9px;
    }

    .slideAboutSecond p {
        font-size: 14px;
    }

    .slideAboutSecondThird {
        padding-left: 0px;
        padding-bottom: 0px;
    }
}