.navbarMain {
    width: 100%;
    background-color: white;
    position: fixed;
    z-index: 99999;
    top: 0px;
}

.containerNavbar {
    width: 90%;
    margin: 0px auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerNavbar img {
    max-height: 75px;
    max-width: 175px;
}

.containerNavbar ul {
    display: flex;
    align-items: center;
    list-style-type: none;
}

.containerNavbar ul li {
    font-weight: 800;
    color: #4D4C4C;
    margin-right: 20px;
    font-size: 14px;
}

.containerNavbar ul li svg {
    color: #4D4C4C;
    font-size: 28px;
}

.containerNavbar ul li:last-child {
    margin-right: 0px;
}

@media only screen and (max-width: 1380px) {
    .containerNavbar ul li {
        font-size: 11px;
    }
}

@media only screen and (max-width: 1240px) {
    .containerNavbar ul li {
        font-size: 9px;
        margin-right: 10px;
    }

    .containerNavbar img {
        max-width: 125px;
        max-height: 50px;
    }

    .containerNavbar ul li svg {
        font-size: 18px;
    }
}

.mobileList {
    display: none !important;
}

@media only screen and (max-width: 767px) {
    .desktopList {
        display: none !important;
    }

    .mobileList {
        display: inline-block !important;
    }

    .navbarMain {
        height: 75px;
    }

    .containerNavbar {
        height: 100%;
    }
}

.fullPagePopup {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    bottom: 0px;
    z-index: 999;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fullPagePopup svg {
    font-size: 40px;
    top: 15px;
    right: 15px;
    position: absolute;
    color: hsl(221, 51%, 28%);
}

.fullPagePopup ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: 95%;
}

.fullPagePopup ul li {
    margin-bottom: 2vw;
    line-height: 30px;
    font-size: 1rem;
    letter-spacing: 0.6px;
    position: relative;
    cursor: pointer;
    color: hsl(221, 51%, 28%);
}