.firstContainer {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-end;
    overflow: hidden;
}

.firstContainer video {
    position: absolute;
    min-height: 100%;
    max-width: 100%;
    top: 0px;
    z-index: -9;
    left: 0px;
}

.secondContainer {
    width: 100%;
    height: 100vh;
    background-image: url("../assets/images/second-section-tmtc.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-left: 30px;
    padding-bottom: 30px;
    display: flex;
    align-items: flex-end;
}

.firstContainerInner {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 30px;
    padding-top: 15px;
    text-align: center;
}

.firstContainerInner p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.firstContainerInner p svg {
    margin-left: 8px;
}

.contentTmTcFirst {
    color: white;
}

.contentTmTcFirst h2 {
    margin-bottom: 0px;
}

.contentTmTcFirst p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contentTmTcFirst p svg {
    margin-left: 8px;
}

.bottomLeftContainer {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 30px;
    padding-top: 15px;
    text-align: center;
}

.bottomLeftContainer p {
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottomLeftContainer p svg {
    margin-left: 8px;
}

.fourthContainer {
    width: 100%;
    background-color: #3D3D3D;
    padding: 30px 0px;
    padding-top: 80px;
}

.fourthContainer h2 {
    margin: 0px;
    color: white;
    text-align: center;
}

.containerFourthTmtc {
    width: 100%;
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0px auto;
    margin-top: 40px;
}

.innerContainerFtmtc {
    width: 31%;
    margin-bottom: 30px;
    height: 300px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: flex-end;
}

.innerContainerFtmtc:nth-child(1) {
    background-image: url("../assets/images/playlists-1.png");
}

.innerContainerFtmtc:nth-child(2) {
    background-image: url("../assets/images/playlists-2.png");
}

.innerContainerFtmtc:nth-child(3) {
    background-image: url("../assets/images/playlists-3.png");
}

.innerContainerFtmtc:nth-child(4) {
    background-image: url("../assets/images/playlists-4.png");
}

.innerContainerFtmtc:nth-child(5) {
    background-image: url("../assets/images/playlists-5.png");
}

.innerContainerFtmtc:nth-child(6) {
    background-image: url("../assets/images/playlists-6.png");
}

.videoTitleMain {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 15px 0px;
    color: white;
}

.videoTitleMain p {
    margin: 0px;
    font-size: 24px;
    text-align: center;
}

.bottomLeftContainerWhole {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 30px;
    padding-top: 15px;
    width: 100%;
    max-width: 600px;
    height: 100%;
    padding-left: 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bottomLeftContainerWhole h2 {
    font-size: 28px;
    margin: 0px;
    margin-bottom: 20px;
}

.bottomLeftContainerWhole p {
    color: #C7C7C7;
    font-size: 20px;
    margin-bottom: 0px;
    line-height: 1.8;
    display: flex;
    align-items: center;
}

.bottomLeftContainerWhole p svg {
    margin-left: 8px;
}

@media only screen and (max-width: 767px) {
    .firstContainer {
        padding-left: 10px;
    }

    .secondContainer {
        padding-left: 10px;
    }

    .firstContainerInner {
        max-width: calc(100% - 10px);
    }

    .containerFourthTmtc {
        width: 90%;
    }

    .innerContainerFtmtc {
        width: 47%;
        height: 150px;
        margin-bottom: 10px;
    }

    .bottomLeftContainerWhole p {
        font-size: 14px;
    }

    .bottomLeftContainerWhole p br {
        display: none;
    }

    .bottomLeftContainerWhole {
        padding-left: 50px;
    }

    .firstContainer video {
        max-width: none !important;
    }

    .bottomLeftContainer {
        width: 100%;
    }
}